/* Allgemeines */

@font-face {
    font-family: OttoSans;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.otto.de/assets-static/components/assets/otto-sans.CtUYNJ_f.woff2) format("woff2"),url(https://static.otto.de/assets-static/components/assets/otto-sans.DT9YO2fU.woff) format("woff")
}

@font-face {
    font-family: OttoSans;
    font-style: normal;
    font-weight: 700;
    src: url(https://static.otto.de/assets-static/components/assets/otto-sans-bold.7ffBVm3L.woff2) format("woff2"),url(https://static.otto.de/assets-static/components/assets/otto-sans-bold.BeUYGSjW.woff) format("woff")
}

@font-face {
    font-family: OttoPlay;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.otto.de/assets-static/components/assets/otto-play.C9CZ0YGN.woff2) format("woff2")
}

@media (min-width: 48rem) {
    @font-face {
        font-family:OttoSansThin;
        font-style: normal;
        font-weight: 400;
        src: url(https://static.otto.de/assets-static/components/assets/otto-sans-thin.DVT-9QSF.woff2) format("woff2"),url(https://static.otto.de/assets-static/components/assets/otto-sans-thin.UQZ1fxrC.woff) format("woff")
    }
}


body {
    font-family: 'OttoSans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

h1 {
    font-family: 'OttoPlay', sans-serif;
    color: #f00020;
    margin: 0;
    font-size: 2.5em;
}


/* Produkt Container */
.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-box {
    width: 300px; /* Size */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
}

.product-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Pfeil & Fragezeichen */
.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px; /* Abstand */
    position: relative;
}

.arrow, .question-mark {
    font-family: 'Otto-Sans', sans-serif;
    font-size: 6em;
    color: #f00020;
    cursor: pointer;
    transition: transform 0.5s ease; /* Soft Übergang */
    user-select: none;
    position: absolute; /* Überlagerung */
}

.question-mark {
    display: none; /* standard versteckt */
}
