<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher or Lower</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <button class ="logo-button" onclick="location.href='/'">
            <img src="/static/images/pl_logo_otto.svg" alt="Logo" class="logo">
        </button>
        <h1>Higher or Lower</h1>
    </header>

    <main>
        <div class="product-container">
            
            <button class="noBorder" onclick="choose()">
                <div class="product-box" id="product1">
                    <img class="product-image" id="product-image1" src="https://i.otto.de/i/otto/b526a55c-e43f-54fd-8155-652b8d4688df/hisense-43e6nt-led
                    -fernseher-108-cm-43-zoll-4k-ultra-hd-smart-tv-4k-uhd.jpg?$formatz$" alt="Produkt 1">
                    <div class="text-box" id="text-box1">
                        <h2>Dummy Marke</h2>
                        <h3>43E6NT LED-Fernseher</h3>
                        <p>Preis: 449.00 €</p>
                        <p>lieferbar - in 2-3 Werktagen bei dir</p>
                        <img alt="Logo" class="UpLogo" id="UpLogo1" src="/static/images/otto-up-logo.png">
                    </div>
                </div>
            </button>

            <div class="arrow-container">
                <img id="arrow" class="arrow_red" src="/static/images/arrow.png">
                <img class="logo_big" id="logobig" src="/static/images/pl_logo_otto.svg">
            </div>

            <button class="noBorder" onclick="choose()">
                <div class="product-box" id="product2">
                    <img class="product-image" id="product-image1" src="https://i.otto.de/i/otto/4ed95405-d686-586f-8639-97b5119d5fc6/lenovo-ideapad-3-chrome
                    -15ijl6-8gb-ram-128gb-emmc-chromebook-39-6-cm-15-6-zoll-intel-celeron-n4500-uhd-graphics-chromeos-clamshell-laptop-with-full-hd-panel.jpg?$formatz$" alt="Produkt 2">
                    <div class="text-box" id="text-box2">
                        <h2>Dummy Marke</h2>
                        <h3>IdeaPad 3 Chrome 15IJL6 8GB RAM / 128GB eMMC Chromebook</h3>
                        <p>Preis: 129,99 €</p>
                        <p>lieferbar - in 2-3 Werktagen bei dir</p>
                        <img alt="Logo" class="UpLogo" id="UpLogo2" src="/static/images/otto-up-logo.png">
                    </div>
                </div>
            </button>
        </div>
    </main>

    <script src="/static/js/script.js"></script>
    <script src="static/js/request.js"></script>
</body>
</html>