<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher or Lower</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="/static/images/pl_logo_otto.svg" alt="Logo" class="logo">
            <h1>Higher or Lower</h1>
        </div>
    </header>

    <main>
        <div class="product-container">
            <div class="product-box" id="product1">
                <div class="img-wrap">
                    <img src="https://i.otto.de/i/otto/b526a55c-e43f-54fd-8155-652b8d4688df/hisense-43e6nt-led
                -fernseher-108-cm-43-zoll-4k-ultra-hd-smart-tv-4k-uhd.jpg?$formatz$" alt="Produkt 1">
                </div>
                <div class="meta">
                    <h2>Dummy Marke</h2>
                    <h3>43E6NT LED-Fernseher</h3>
                    <p>449.00 €</p>
                    <p>lieferbar - in 2-3 Werktagen bei dir</p>
                    <p>Placeholder Otto Up</p>
                </div>
            </div>

            <div class="arrow-container">
                <div class="arrow" id="arrow"> > </div>
                <div class="question-mark" id="questionMark"> ? </div>
            </div>

            <div class="product-box" id="product2">
                <div class="img-wrap">
                    <img src="https://i.otto.de/i/otto/4ed95405-d686-586f-8639-97b5119d5fc6/lenovo-ideapad-3-chrome
                -15ijl6-8gb-ram-128gb-emmc-chromebook-39-6-cm-15-6-zoll-intel-celeron-n4500-uhd-graphics-chromeos-clamshell-laptop-with-full-hd-panel.jpg?$formatz$" alt="Produkt 2">
                </div>
                <div class="meta">
                    <h2>Dummy Marke</h2>
                    <h3>IdeaPad 3 Chrome 15IJL6 8GB RAM / 128GB eMMC Chromebook</h3>
                    <p>Preis: 129,99 €</p>
                    <p>lieferbar - in 2-3 Werktagen bei dir</p>
                    <p>Placeholder Otto Up</p>
                </div>
            </div>
        </div>
    </main>

    <script src="/static/js/script.js"></script>
</body>
</html>