<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher or Lower</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index_style.css">
    <script src="/static/js/index_script.js"></script>
    
</head>
<body class = "index-body">

    <header>
        <button class ="logo-button" onclick="location.href='/'">
            <img src="/static/images/pl_logo_otto.svg" alt="Logo" class="logo">
        </button>
        <h1>Higher or Lower</h1>
    </header>
    
        <main class = "index-main">
        <div class="index-container">
            <div class="difficulty-bar">
                {% set difficulty_list = difficulties %}
                {% set difficulty_name_list = difficulty_names %}

                {% for idx in range(3) %}
                <label class="difficulty {{ difficulty_list[idx] }}" data-name="{{ difficulty_list[idx] }}">
                    <input type="radio" name="difficulty" value="{{ difficulty_list[idx] }}" form="start-game-form" {% if idx == 0 %}checked{% endif %}>
                    <span class="label-text">{{ difficulty_name_list[idx] }}</span>
                </label>
                {%endfor%}
            </div>

            {% for difficulty in difficulty_list %}
            <div class="leaderboard-container">
                
                {% for idx in range(5) %}
                <div class="leaderboard-element">
                    <span class="leaderboard-place">{{idx + 1}}.</span>
                    <span class="leaderboard-name">{{leaderBoardData[difficulty][idx][0]}} {%if leaderBoardData["own_position"] == (idx+1) and leaderBoardData[difficulty][idx][0] == leaderBoardData["own_name"] and leaderBoardData["own_difficulty"] == difficulty %} (Du) {%endif%}</span>
                    <span class="leaderboard-score">{{leaderBoardData[difficulty][idx][1]}}</span>
                </div>
                {%endfor%}
            </div>
            {%endfor%}

                {%if not firstGame%}
                    {% if leaderBoardData["own_position"] >= 5 %}
                <div class="leaderboard-element-player" data-name={{leaderBoardData["own_difficulty"]}}>
                    <span class="leaderboard-place">{{leaderBoardData["own_position"]}}.</span>
                    <span class="leaderboard-name">{{leaderBoardData["own_name"]}} (Du)</span>
                    <span class="leaderboard-score">{{leaderBoardData["own_score"]}}</span>
                </div>
                    {%endif%}
                {%endif%}
               
            <form id="start-game-form" method="POST" action="/new_game" class="start-game-form">
                <input name="username" type="text" class="username-input" placeholder="Gib deinen Namen ein">
                <input type="submit" value="Neues Spiel" class="start-game-button"/>
            </form>
            
        </div>
                
    </main>

</body>
</html>