<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher or Lower</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index_style.css">
    
</head>
<body class = "index-body">

    <header>
        <button class ="logo-button" onclick="location.href='/'">
            <img src="/static/images/pl_logo_otto.svg" alt="Logo" class="logo">
        </button>
        <h1>Higher or Lower</h1>
    </header>
    
        <main class = "index-main">
        <div class="index-container">
            <div class="leaderboard-container">
            </div>
            {%if not firstGame%}
            {%endif%}    
            <form method="POST" action="/setname" class="start-game-form">
                <input name="username" type="text" class="username-input" placeholder="Gib deinen Namen ein">
                <input type = "submit" value = "Neues Spiel" class="start-game-button"/>
            </form>
            
        </div>
                
    </main>

    <script src="/static/js/index_script.js"></script>
</body>
</html>