:root{
    --otto-red: #eb001f;
}

html {
    overflow: hidden;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
  header {
    padding-right: 40px;
  }
}

.index-body {
      margin: 0;
      display: flex;
      flex-direction: column;
      min-height: 90vh;
}

.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding-bottom: 20px;
    border-radius: 10px;
}

.streak-container {
    margin: 50px;
}

.streak-text {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    color: #dc001d;
}

.start-game-button {
    padding:0.8rem 3rem ;
    margin-top:2vh;
    font-size: 1.2em;
    font-weight: 700;
    background-color: var(--otto-red);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 100ms;
    min-width: 250px;
    max-width: 500px;
}

.start-game-button:hover {
    background-color: #b80018;
}

.start-game-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-input {
    padding: 15px 30px;
    font-size: 1em;
    background: url("/static/images/edit.svg") no-repeat scroll 97% 12px;
    background-color: #eaeaea;
    border: none;
    border-radius: 100px;
    margin: 15px;
    width: 35vw;
    min-width:fit-content;
    max-width: 600px;
    
}

.username-input:focus {
    outline: 2px solid #000000;
    background-color: #ffffff;
}


.leaderboard-element{
    display:flex;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 1vh;
    background-color: #eaeaea;
    border-radius: 10px;
    width: 25vw;
    min-width: 200px;
    max-width: 600px;
}

.leaderboard-element-player{
    display:flex;
    justify-content: space-between;
    padding: 5px 20px;
    margin-inline: 1vh;
    margin-top: 30px;
    background-color: #e6e6e6;
    border-radius: 10px;
    width: 25vw;
    min-width: 200px;
    max-width: 600px;
}

.leaderboard-element span{
    font-weight: 500;
    margin: 5px;
}

.leaderboard-element .leaderboard-place {
    min-width: 30px; 
    display: inline-block;
    text-align: center;
}

.leaderboard-element-player .leaderboard-place {
    min-width: 30px; 
    display: inline-block;
    text-align: center;
}

.leaderboard-element-player span{
    font-weight: 500;
    margin: 5px;
}

.leaderboard-element .leaderboard-score {
    font-weight: 700;
    color: var(--otto-red);
    min-width: 30px; 
    display: inline-block;
    text-align: center;
}

.leaderboard-element-player .leaderboard-score {
    font-weight: 700;
    color: var(--otto-red);
    min-width: 30px; 
    display: inline-block;
    text-align: center;
}

.index-container > * {
    margin-right: 50px;
    margin-left: 50px;
}

.difficulty-bar {
    display: flex;
    margin: 0;
    margin-top: -10px;
    width: 100%;
}

.difficulty {
    box-sizing: border-box;
    flex: 1;
    text-align: center;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

/* Visuell verbergen, aber für Screenreader und Fokus erhalten */
.difficulty input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

/* Der sichtbare "Kachel"-Look */
.label-text {
    display: block;
    padding: 15px;
    background-color: #d1cfcf;
    color: black;
    border-radius: 10px 10px 0 0;
}
/*
[class*="difficulty normal"] .label-text {  Könnte man machen 
  background-color: rgb(236, 214, 74);
}*/

/* Aktiver Zustand (einfacher, kein Animationseffekt) */
.difficulty input:checked + .label-text {
    background-color: white;
}

.difficulty:has(input:checked) + .difficulty .label-text {
    border-bottom-left-radius: 10px;
}

.difficulty:has(+ .difficulty input:checked) .label-text {
    border-bottom-right-radius: 10px;
}



.hidden {
    display: none;
}