/* Allgemeines */

@font-face {
    font-family: OttoSans;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.otto.de/assets-static/components/assets/otto-sans.CtUYNJ_f.woff2) format("woff2"),url(https://static.otto.de/assets-static/components/assets/otto-sans.DT9YO2fU.woff) format("woff")
}

@font-face {
    font-family: OttoSans;
    font-style: normal;
    font-weight: 700;
    src: url(https://static.otto.de/assets-static/components/assets/otto-sans-bold.7ffBVm3L.woff2) format("woff2"),url(https://static.otto.de/assets-static/components/assets/otto-sans-bold.BeUYGSjW.woff) format("woff")
}

@font-face {
    font-family: OttoPlay;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.otto.de/assets-static/components/assets/otto-play.C9CZ0YGN.woff2) format("woff2")
}

@media (min-width: 48rem) {
    @font-face {
        font-family:OttoSansThin;
        font-style: normal;
        font-weight: 400;
        src: url(https://static.otto.de/assets-static/components/assets/otto-sans-thin.DVT-9QSF.woff2) format("woff2"),url(https://static.otto.de/assets-static/components/assets/otto-sans-thin.UQZ1fxrC.woff) format("woff")
    }
}

body {
    font-family: 'OttoSans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    height: 40px;
    display: flex;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

h1 {
    font-family: 'OttoPlay', sans-serif;
    color: #f00020;
    margin: 0;
    font-size: 2.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: 'OttoSans', sans-serif;
    color: #000;
    margin: 0;
    font-size: 1em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-family: 'OttoSans', sans-serif;
    color: #000;
    margin: 0;
    font-size: 1em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: 'OttoSans', sans-serif;
    color: #000;
    margin: 0;
    font-size: 1em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}


/* Produkt Container */
.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-box {
    width: 300px;
    height: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
}

.product-box .img-wrap {
    max-height: 250px;
    margin-bottom: 10px;
}

.product-box .img-wrap img {
    max-width: 100%;
    max-height: 250px;
    width: auto;

    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* Pfeil & Fragezeichen */
.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 60px; /* Abstand */
    position: relative;
}

.arrow, .question-mark {
    font-family: 'Otto-Sans', sans-serif;
    font-size: 8em;
    color: #f00020;
    cursor: pointer;
    transition: transform 0.5s ease; /* Soft Übergang */
    user-select: none;
    position: absolute; /* Überlagerung */
}

.question-mark {
    display: none; /* standard versteckt */
}

.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Media Queries (for phone screens)*/

@media (max-width: 600px) {
    header {
        margin: 0;
    }

    .product-container {
        flex-direction: column;
        gap: 50px;
    }

    .arrow-container {
        transform: rotate(90deg);
    }

    .product-box {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: auto;
        height: 250px;
        padding: 20px
    }

    .meta {
        padding: 6px;
        z-index: 1;
    }

    .img-wrap {
        flex: 1 1 auto;
        min-height: 0;
    }

    .img-wrap img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    h1 {
        font-size: 30px;
    }
}

@media (max-height: 800px) {
    .product-container {
        gap: 30px;
    }

    .product-box {
        height: 30vh
    }

    .question-mark, .arrow {
        font-size: 4em;
    }
}