/* Allgemeines */

@font-face {
    font-family: OttoSans;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.otto.de/assets-static/components/assets/otto-sans.CtUYNJ_f.woff2) format("woff2"),url(https://static.otto.de/assets-static/components/assets/otto-sans.DT9YO2fU.woff) format("woff")
}

@font-face {
    font-family: OttoSans;
    font-style: normal;
    font-weight: 700;
    src: url(https://static.otto.de/assets-static/components/assets/otto-sans-bold.7ffBVm3L.woff2) format("woff2"),url(https://static.otto.de/assets-static/components/assets/otto-sans-bold.BeUYGSjW.woff) format("woff")
}

@font-face {
    font-family: OttoPlay;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.otto.de/assets-static/components/assets/otto-play.C9CZ0YGN.woff2) format("woff2")
}

@media (min-width: 48rem) {
    @font-face {
        font-family:OttoSansThin;
        font-style: normal;
        font-weight: 400;
        src: url(https://static.otto.de/assets-static/components/assets/otto-sans-thin.DVT-9QSF.woff2) format("woff2"),url(https://static.otto.de/assets-static/components/assets/otto-sans-thin.UQZ1fxrC.woff) format("woff")
    }
}

body {
    font-family: 'OttoSans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    height: 40px;
    padding-right: 120px;
    display: flex;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    margin: 20px;
    width: 100px;
    height: 40px;
    height: auto;
    margin: 0;
}

.logo-button {
    margin:0;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logo-big {
    width: auto;
    height: 70px;
    cursor: pointer;
    transition: transform 0.5s ease; /* Soft Übergang */
    user-select: none;
    display: none;
}


h1 {
    font-family: 'OttoPlay', sans-serif;
    color: #f00020;
    margin: 0;
    font-size: 2.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: 'OttoSans', sans-serif;
    color: #000;
    margin: 3px;
    font-size: 1em;
    align-self: left;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-family: 'OttoSans', sans-serif;
    color: #000;
    margin: 10px;
    font-size: 1em;
    line-height: 1.2em;
    align-self: left;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

p {
    font-family: 'OttoSans', sans-serif;
    color: #000;
    margin: 3px;
    font-size: 1em;
    align-self: left;
    margin-left: auto;
    margin-right: auto;
}

/* Produkt Container */
.product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.noBorder {
    border: none;
    outline: none;
    background-color: #e6e6e6
}

.product-box {
    width: 300px;
    height: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition-duration: 500ms;
}
.moved{
    transform: translateX(-730px);
}

.removed{
    transform: translateX(-50vw);
}

.product-box img {
    max-height: 230px;
    max-width: 250px;
    height: auto;
    align-self: center;
    justify-self: center;
    grid-row: 1;
}


.product1 {
    position: relative;
    left: -50px;
}

.product2 {
    position: relative;
    left: 50px;
}

.text-box {
    width: 100%;
    align-self: left;
    justify-self: top;
    grid-row: 2;
    margin-top: 40px;
    display: grid;
}


.UpLogo {
    width: 50px;
    height: auto;
    align-self: left;
    justify-self: left;
}

.arrow-container {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: center;
    margin: 0 0px; /* Abstand */
    position: relative;
    height: 200px /* Für absolute Positionierung des Pfeils */
}


.arrow_red {
    width: 120px;
    height: auto;
    transition: transform 0.5s ease; /* Soft Übergang */
    position: absolute;
}

.check {
    width: 120px;
    height: auto;
    transition: transform 0.5s ease; /* Soft Übergang */
    position: absolute;

}

.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price{
    font-weight: 700;
}

.center-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-container{
    margin: 10px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    scale: 1.1
}

.score-display{
    font-size: 1.2em;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition-duration: 2s;
}
.score{
    font-size: 1.2em;
    font-weight: 700;
    color: #f00020;
}

.return-button {
    padding:0.8rem 3rem ;
    margin:15px;
    font-size: 1.2em;
    font-weight: 700;
    background-color: #eb001f;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 100ms;
    min-width: 150px;
    max-width: 500px;
    display: none;
}

.return-button:hover {
    background-color: #b80018;
}

.game-over{
    font-size: 1.7em;
    font-weight: 700;
    display: none;
}

/* Media Queries (for phone screens)*/

@media (max-width: 600px) {
    header {
        margin: 0;
        padding-right: 20px;
    }

    .product-container {
        flex-direction: column;
        gap: 50px;
    }

    .arrow-container {
        transform: rotate(90deg);
    }

    .product-box {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: auto;
        height: 250px;
        padding: 20px
    }

    .meta {
        padding: 6px;
        z-index: 1;
    }

    .img-wrap {
        flex: 1 1 auto;
        min-height: 0;
    }

    .img-wrap img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    h1 {
        font-size: 30px;
    }
}

@media (max-height: 800px) and (max-width: 600px) {
    .product-container {
        gap: 30px;
    }

    .product-box {
        height: 30vh
    }

    .question-mark, .arrow {
        font-size: 4em;
    }
}