<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher or Lower</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="../images/pl_logo_otto.svg" alt="Logo" class="logo">
            <h1>Higher or Lower</h1>
        </div>
    </header>

    <main>
        <div class="product-container">
            <div class="product-box" id="product1">
                <img src="https://i.otto.de/i/otto/b526a55c-e43f-54fd-8155-652b8d4688df/hisense-43e6nt-led-fernseher-108-cm-43-zoll-4k-ultra-hd-smart-tv-4k-uhd.jpg?$formatz$" alt="Produkt 1">
                <h2>43E6NT LED-Fernseher</h2>
                <p>449.00 €</p>
            </div>

            <div class="arrow-container">
                <div class="arrow" id="arrow"> > </div>
                <div class="question-mark" id="questionMark"> ? </div>
            </div>

            <div class="product-box" id="product2">
                <img src="placeholder-image.jpg" alt="Produkt 2">
                <h2>Produktbezeichnung 2</h2>
                <p>Preis: 129,99 €</p>
            </div>
        </div>
    </main>

    <script src="../static/script.js"></script>
</body>
</html>